body{
    background: rgb(255,207,107);
    background: linear-gradient(180deg, rgba(255,207,107,1) 0%, rgba(233,101,89,1) 100%);
    height: 200vh;
}

#felgorgGomb{
    background: linear-gradient(#FFCF6B, #E96559);
}

#felgorgTxt{
    background: linear-gradient(#E96559, #FFCF6B);
}

/* Carousel kód */

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carouselContainer {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carViewPort {
    margin: auto auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 50%;
    height: 50%;
}

.carSlide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carSlide:nth-child(even) {
    background-color: #99f;
}

.carSlide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}

.carSnapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carSnapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carSlide:last-child .carSnapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carSnapper {
        animation-name: none;
    }
}

.carouselContainer:hover .carSnapper, .carouselContainer:focus-within .carSnapper {
    animation-name: none;
}

.carNav {
    position: relative;
    top: 75vh;
    text-align: center;
}

.carNavList, .carNavItem {
    display: inline-block;
}

.carNav-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carouselContainer::before, .carouselContainer::after, .carPrev, .carNext {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carouselContainer::before, .carPrev {
    left: -1rem;
}
  
.carouselContainer::after,
.carNext {
    right: -1rem;
}

/* Carousel vége */