body{
    background: rgb(65, 82, 186);
    background: linear-gradient(180deg, rgba(65, 82, 186,1) 0%, rgba(26, 9, 53,1) 100%);
    height: 300vh;
}
.search-bar{
    width: 45%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 25px;
}
.search-bar img{
    float: right;
    margin: 0 auto;
    width: 40px;
    height: auto;
    margin-top: -30px;
    padding-right: 9px;
    z-index: 6;
}
#search-bar-input{
    width: 99%;
    height: 95%;
    background-color: #30FFC9;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin-top: -200px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 8 / 18; }
    .div2 { grid-area: 1 / 18 / 3 / 21; }
    .div3 { grid-area: 3 / 18 / 5 / 21; }
    .div4 { grid-area: 5 / 18 / 7 / 21; }
    