@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: rgb(65, 82, 186);
    background: linear-gradient(180deg, rgba(65, 82, 186,1) 0%, rgba(26, 9, 53,1) 100%);
    height: 350vh;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

#felgorgGomb{
    background: linear-gradient(#4152BA, #1A0935)
}

#felgorgTxt{
    background: linear-gradient(#1A0935, #4152BA);
}

.search-bar{
    width: 45%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 25px;
}
.search-bar-logo{
    width: 1%;
    height: auto;
    float: right;
    margin: 0 auto;
    width: 45px;
    height: auto;
    margin-top: -30px;
    padding-right: 9px;
    z-index: 6;
    position: absolute;
    left: 68%;
    top: 35.8%;
}
#search-bar-input{
    width: 99%;
    height: 95%;
    background-color: #30FFC9;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin-top: -200px;



}
.mid{
    margin-top: 280px;
}
#mid-section-img{
    height: 90vh;
    width: auto;
}








    .ajanlatok-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        margin-top: 200px;
        }
        
        .div5 { grid-area: 1 / 1 / 2 / 6; 
            text-align: center;
            background-color: #4152BA;
            width: 15%;
            height: 20%;
            border-radius: 15px;
            margin: 0 auto;
            font-size: 20px;
            color: white;
            padding-bottom: 10px;
            
        }
        .div6 { grid-area: 2 / 1 / 4 / 6; }
        .div7 { grid-area: 4 / 1 / 5 / 6; 
            text-align: center;
            background-color: #1CB3C4;
            width: 200px;
            height: 40px;
            border-radius: 15px;
            margin: 0 auto;
            
            padding-bottom: 10px;
            margin-top: 5%;
            text-decoration: none;
            
        }
        .ajanlatok-a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            padding-bottom: 10px;
        }

        .ajanlatok-a:hover{
            color: #4152BA;
        }
        .ajanlatok-a:visited{
            color: white;
            text-decoration: none;
        }
        .ajanlatok-a:visited:hover{
            color: #4152BA;
            text-decoration: none;
        }

        .ajanlatok-img-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 26px;
            grid-row-gap: 26px;
            width: 90%;
            height: auto;
            margin: 0 auto;
            }
            
            .div8 { grid-area: 1 / 1 / 2 / 2; }
            .div9 { grid-area: 1 / 2 / 2 / 3; }
            .div10 { grid-area: 1 / 3 / 2 / 4; }
            .div11 { grid-area: 1 / 4 / 2 / 5; }
            .div12 { grid-area: 2 / 1 / 3 / 2; }
            .div13 { grid-area: 2 / 2 / 3 / 3; }
            .div14 { grid-area: 2 / 3 / 3 / 4; }
            .div15 { grid-area: 2 / 4 / 3 / 5; }
            .gallery_img2 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }




            .tovabbi-grid {
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                }
                
                .div16 { grid-area: 1 / 1 / 2 / 10; background-color: #30FFC9;
                    text-align: center;
                    background-color: #4152BA;
                    width: 15%;
                    height: 20%;
                    border-radius: 15px;
                    margin: 0 auto;
                    font-size: 20px;
                    color: white;
                    padding-bottom: 10px;
                    margin-top: 5%;
                
                }
                .div17 { grid-area: 2 / 1 / 6 / 5; background-color: #30FFC9;
                
                }
                .div18 { grid-area: 5 / 5 / 7 / 7; background-color: #30FFC9;}
                .div19 { grid-area: 2 / 7 / 5 / 10; background-color: #30FFC9;}
                .gallery_img3 {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }


#baoldali-joystick{
    height: 500px;
    width: auto;
    margin-left: 10px;
}
#diszgomb{
    height: 180px;
    width: auto;
    position: absolute;
}

.gombok{
    background-color: #1A0935;
    color: white;
    font-family: "Press Start 2P", serif;
    width: 200px;
    height: 80px;
    display: flex;
    margin-left: 5%;
    border: none;
    position: relative;
}

#felso_gomb{
    border-radius: 15px 15px 0px 0px;
}
#also_gomb{
    border-radius:0px 0px 15px 15px ;
}

.gombok:hover{
    background-color: #30FFC9;
    color: black;
}
.gombok-p{
    margin: 0 auto; 
    padding-top: 30px;
}