body {
    background: rgb(243,107,107);
    background: linear-gradient(180deg, rgba(243,107,107,1) 26%, rgba(39,16,77,1) 100%);
    height: 100%;
}

.navTarto{
  background-color: #BE2C5D !important;
}

.navGombok{
  color: #fceed2 !important;
}

#headerLeft > img{
  background-color: #BE2C5D !important;
}

#felgorgGomb{
  background: linear-gradient(#F36B6B, #27104D)
}

#felgorgTxt{
  background: linear-gradient(#27104D, #F36B6B);
}

#filterek{
    float: left;
    background-color: #BE2C5D;
    height: 100%;
    width: 100%;
}

#filterek h2,label{
    background-color: #FFCF6B;
}

.search-bar{
  width: 65%;
  height: 50px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 25px;
}

#search-bar-input{
  width: 99%;
  height: 95%;
  background-color: #FFCF6B;
  margin: 0 auto;
  margin-top: 20%;
  border-radius: 25px;
  border: none;
  text-align: center;
  margin-top: -200px;

}

#filterek h2{
    margin: 0 auto;
    width: 72%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 9%;
    margin-left: 13%;
    padding: 5% 0% 5% 0%;
    font-size: xx-large;
}

#filterek label{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 9%;
    margin-right: 30%;
}

#filterek label{
    padding-left: 2%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 26px;
    background-color: #FFCF6B;
    left: 110%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #fdcf00;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FFCF6B;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.3fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: -10px -10px 0px 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 2; }
    .div2 { grid-area: 1 / 2 / 6 / 5; }



#results{
  display: flex;
  flex-wrap: wrap;
}

.result{
  width: 185px;
  background-color: #FFCF6B;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.result:hover{

}

.result img{
  width: 100%;
  height: 200px;
}

#container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: large;
}

#container p{
  margin: 0;
}

#ar{
  margin-right: 2%;
}

#cim{
  margin-left: 2%;
}