body {
    background: rgb(243,107,107);
    background: linear-gradient(180deg, rgba(243,107,107,1) 26%, rgba(39,16,77,1) 100%);
    height: 200vh;
}

#filterek{
    float: left;
    background-color: #BE2C5D;
    height: 200vh;
    width: 25%;
}

#filterek h2,p{
    background-color: #FFCF6B;
}

#filterek h2{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 9%;
}

#filterek p{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 9%;
}

#filterek input[type="checkbox"]:checked{
    accent-color: #ffcf6b;
}

#filterek input[type="checkbox"]{
    
}