body {
    background: rgb(24,104,139);
    background: linear-gradient(180deg, rgba(24,104,139,1) 26%, rgba(10,6,20,1) 100%);
    height: 100%;
}

.navTarto{
  background-color: #301E6A !important;
}

.navGombok{
  color: #1CB3C4 !important;
}

#headerLeft > img{
  background-color: #301E6A !important;
}

#felgorgGomb{
  background: linear-gradient(#18688B, #0A0614);
  left: 1.2vw;
}

#felgorgTxt{
  background: linear-gradient(#0A0614, #18688B);
}

#filterek{
    float: left;
    background-color: #301E6A;
    height: 100%;
    width: 100%;
    margin-top: -1px;
}

#filterek h2,label{
    background-color: #1CB3C4;
}

.search-bar{
  width: 65%;
  height: 50px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 25px;
}

#search-bar-input{
  width: 99%;
  height: 95%;
  background-color: #1CB3C4;
  margin: 0 auto;
  margin-top: 20%;
  border-radius: 25px;
  border: none;
  text-align: center;
  margin-top: -200px;
}

#filterek h2{
    margin: 0 auto;
    width: 72%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 9%;
    margin-left: 13%;
    padding: 5% 0% 5% 0%;
    font-size: xx-large;
}

#filterek label{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 9%;
    margin-left: 27%;
    padding-left: 2%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 26px;
    background-color: #1CB3C4;
    left: -25%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #027683;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #1CB3C4;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: -10px -10px 0px 0px;
    }
    
    .div2 { grid-area: 1 / 1 / 6 / 4; }
    .div1 { grid-area: 1 / 4 / 6 / 5; 
        height: 400vh;}
            
        
        
#results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result{
  width: 185px;
  background-color: #1CB3C4;
  margin: 2% 2%;
}

.result img{
  width: 100%;
  height: 200px;
}

#container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: large;
}

#container p{
  margin: 0;
}

#ar{
  margin-right: 2%;
}

#cim{
  margin-left: 2%;
}

@media only screen and (max-width: 768px) {
  #search-bar-input{
    margin-top: 0%;
  }
  #filterek{
    margin-top: 10px;
    height: 399vh;
  }
}

@media only screen and (max-width: 861px) {
  .container{
    font-size: 17px;
  }
  .checkmark{
    width: 19px;
  }
  .container .checkmark:after {
    left: 5px;
    top: 2px;
  }
  #filterek label{
    margin-bottom: 15%;
  }
}

@media only screen and (max-width: 546px) {
  #filterek{
    margin-top: 10px;
    height: 671vh;
  }
}

@media only screen and (max-width: 673px) {
  #filterek label{
    width: 68%;
  }
}

.smallColumnCont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3vw;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

.smallItemCard {
  position: relative;
  width: 25%;
  aspect-ratio: 4 / 4;
  margin: 2% 2%;
}

.smallItemImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 6px;
  aspect-ratio: 4 / 4;
  opacity: 1;
}

.smallItemBaseCont{
  background-color: rgb(97, 97, 252);
  border-radius: 6px;
}

.smallItemTextName{
  position: absolute;
  bottom: -1vh;
  left: 3%;
  color: black;
  font-size: 2vw;
}

.smallItemTextPrice{
  position: absolute;
  bottom: -1vh;
  right: 3%;
  color: black;
  font-size: 2vw;
}

.smallItemTextCont{
  position: absolute;
  bottom: 0vh;
  left: 0;
  color: white;
  font-size: 2vw;
  background: #1CB3C4;
  height: 20%;
  width: 100%;
}

/* Small Hover stuff */

.smallItemHoverCont {
  position: absolute;
  top: -5px;
  left: -0.8vw;
  right: -0.8vw;
  bottom: auto;
  background-color: #090935;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
  pointer-events: none;
}

.smallItemHoverCont .smallItemHoverImg {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 4 / 4;
  border-radius: 6px;
}

.smallItemHoverCont p {
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 0;
}

.smallHoverTextCont{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 95%;
}

.smallHoverRowNameAndPrice{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 12px 0 0 0;
}

.smallHoverRowNameAndPrice p {
  line-height: 15px;
  margin: 7px 0 0 0;
  text-align: start;
}

.smallItemStarText{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

.smallItemStarText > p{
  line-height: 0;
  margin: 0 5px 0 10px;
  font-weight: 100;
}

.smallItemStar{
  width: 15%;
  height: 15%;
}

.smallItemFilterCont p{
  text-align: start;
  margin: 1vh auto 1vh auto;
  font-size: large;
  line-height: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.smallItemBtn{
  border: none;
  background-color: #1CB3C4;
  color: black;
  font-size: 25px;
  font-family: "Jersey 10", serif;
  width: 80%;
  height: 50px;
  margin: 5px auto;
  cursor: pointer;
}

.closeBtnSmall{
    display: none;
}

#filterBtn{
  display: none;
}

#filterBtnClose{
  display: none;
}

@media (max-width: 480px) {

  .smallItemHoverCont p {
  font-size: 0.95rem;
}
}

@media screen and (max-width: 768px){
   /* Small container */

   .smallItemCard{
      flex-basis: 30%;
   }

    #lastSmallCard{
        display: none;
    }

    .smallColumnCont{
        margin: 7vh auto;
    }

    .smallHoverTextCont{
        flex-direction: column;
        gap: 0;
    }

    .smallHoverTextCont p{
        font-size: 3vw;
    }

    .smallItemFilterCont p{
        font-size: 2vw;
    }

    .smallItemStarText{
        flex-direction: row-reverse;
        margin: 5px 0 0 0;
    }

    .smallItemStarText p{
        margin: 0;
    }

    .smallItemBtn{
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 576px){

  .div1{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 100%;
  }

  .div2{
    width: 95vw;
    gap: 50px;
  }

  #results{
    gap: 5vh 0;
    margin: 10vh 0 0 0;
  }

  .search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }

  #filterBtn{
    display: block;
    width: 25%;
    height: auto;
    background: none;
    border: none;
  }

  #filterBtn img{
    width: 50%;
    height: auto;
  }

  #filterBtnClose{
    width: 20%;
    height: auto;
    background: none;
    border: none;
    display: block;
    margin: 5%;
  }

  #filterBtnClose img{
    width: 100%;
    height: auto;
  }

  #filterek{
    height: 100%;
    margin-top: 0;
    background: #301E6A;
  }

  #search-bar-input{
    width: 90%;
  }

  #filterek div{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #filterek > div{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
  }

  #filterek .container{
    width: 65%;
  }

  #break{
    flex-basis: 100%;
    height: 0;
  }

  #filterek h2{
    font-size: 13vw;
    width: 60%;
    margin: 5%;
  }

  #filterek div label{
    font-size: 8vw;
  }

  #filterek div span{
    width: 13.5%;
  }

  .container .checkmark:after{
    top: 0;
    left: 3.5vw;
    width: 25%;
    height: 75%;
  }

    /* Small items */
    .closeBtnSmall{
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        width: 20%;
        height: 10%;
        color: black;
        padding: 0;
        margin: 0 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    .smallItemBaseCont{
        opacity: 1;
    }

    .smallItemHoverCont{
        padding: 0;
        opacity: 0;
    }

    .smallColumnCont{
        left: -10%;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 90%;
        height: 60vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background: #16688D;
        background: linear-gradient(90deg,rgba(22, 104, 141, 1) 0%, rgba(233, 101, 89, 1) 100%);
        padding: 10%;
        scroll-snap-type: x mandatory;
    }

    .smallColumnCont::-webkit-scrollbar{
        display: none;
    }

    .smallItemCard{ 
        width: 40vw;
        min-width: 40vh;
        height: 98%;
        margin: 0 15px;
        display: flex;
        opacity: 1;
        flex-basis: 50%;
    }

    
    #lastSmallCard{
        display: flex;
    }
    
    .smallHoverTextCont{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .smallHoverRowNameAndPrice{
        width: 50%;
    }

    .smallHoverRowNameAndPrice p, .smallItemStarText p, .smallItemFilterCont p{
        font-size: larger;
    }

    .smallItemStarText{
        width: 50%;
        justify-content: end;
    }

    .smallItemBtn{
        font-size: x-large;
    }

    .smallItemFilterCont{
        width: 100%;
    }

    .smallItemImg, .smallItemHoverImg{
        width: 100%;
        height: 100%;
    }

    .smallItemTextPrice, .smallItemTextName{
      font-size: 6.5vw;
      padding: 0;
      margin: 0 0 6% 0;
    }
}