body{
    background: linear-gradient(180deg, rgba(233, 101, 89, 1) 0%, rgba(54, 17, 60, 1) 100%);
    height: 200vh;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

.navTarto{
    background-color: #BE2C5D !important;
}
  
.navGombok{
    color: #36113C !important;
}

#headerLeft > img{
    background-color: #BE2C5D !important;
}

#felgorgGomb{
    background: linear-gradient(#E96559, #36113C)
}

#felgorgTxt{
    background: linear-gradient(#36113C, #E96559);
}

#kerek{
  margin-top: 10vh;
  width: 50%;
  height: auto;
  z-index: 1;
  position: relative;
}

#porgetes-btn{
    width: 200px;
    height: 100px;
    font-size: 27pt;
    background: linear-gradient(180deg, rgba(233, 101, 89, 1) 50%, rgba(54, 17, 60, 1) 100%);
    border: none;
}
#porgetes-btn:hover{
    background: linear-gradient(180deg, rgba(54, 17, 60, 1) 50%, rgba(233, 101, 89, 1) 100%);
}

aside{
    float: right;
    background: linear-gradient(180deg, rgba(236,151,143,1) 0%,  rgba(67,43,71,1) 100%);
    height: 100%;
    width: 20%;
    z-index: 2;
    position: relative;
}

.container {
  text-align: center;
    display: block;
    position: relative;
    padding-left: px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5%;
    margin-left: 25%;
}
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 26px;
    background-color: #36113C;
    left: -25%;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #4d1955;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #36113C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    content: "X";
    position: absolute;
    display: block;
    color: white;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
