/* Univerzális CSS, ez minden oldalon megjelenik és ismétlődő elemekért felel */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
/*Betütípus*/

html{
    font-family: 'pixeloid';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: #1CB3C4 #1A0935;
    scrollbar-width: thin;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

/* Legörgető gomb */

/* From Uiverse.io by vinodjangid07 */ 


.felgorgGomb {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 2vh;
    right: 1.2vw;
    border: none;
  }
  
  .arrow path {
    fill: white;
  }
  
  .felgorgTxt {
    font-size: 1em;
    width: 100px;
    position: absolute;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -28px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .felgorgGomb:hover .felgorgTxt {
    opacity: 1;
    transition-duration: .7s;
  }


  .felgorgGomb:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    
    50% {
      transform: translateY(-3px);
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.circle:hover{
    cursor:pointer;
}

/* Header dolgok */

header{
    background-color: #1A0935;
    padding: 0;
    margin: 0;
    height: 6vh;
    width: auto;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 130%;
    text-decoration: none;
    color: black;
}

.navTarto{
    float: right;
    margin: 1vh 1vw;
    padding: 17px 25px;
    width: 8vw;
    height: 0.1vh;
    background-color: #1CB3C4;
}

#headerLeft > img{
    width: 4vh;
    background-color: #30FFC9;
    border-radius: 10px;
    padding: 0.25vh;
    margin: 0.75vh 1vw;
}