/* Univerzális CSS, ez minden oldalon megjelenik és ismétlődő elemekért felel */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
/*Betütípus*/

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'pixeloid';
    scroll-behavior: smooth;
    scrollbar-color: #1CB3C4 #1A0935;
    scrollbar-width: thin;
}

#search-bar-input{
  font-size: 20pt;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}






/* Legörgető gomb */

#felgorgGomb {
  width: 3.1rem;
  height: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  border: none;
  z-index: 999999;
}
  
#arrow path {
  fill: white;
}
  
#felgorgTxt {
  font-size: 1em;
  width: 75px;
  position: absolute;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -3vh;
  opacity: 0;
  transition-duration: .7s;
}
  
#felgorgGomb:hover #felgorgTxt {
  opacity: 1;
  transition-duration: .7s;
}


#felgorgGomb:hover #arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  
#circle:hover{
    cursor:pointer;
}





/* Header */

header{
    background-color: #1A0935;
    padding: 0;
    margin: 0;
    height: 6vh;
    width: auto;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 125%;
    text-decoration: none;
    color: black;
}

.navTarto{
    float: right;
    margin: 1vh 1vw;
    padding: 2vh 3vw;
    width: 8vw;
    height: 0.1vh;
    background-color: #1CB3C4;
}

.navTarto:hover{
  box-shadow: 3px 3px 2px 0px rgba(255,255,255,0.74);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(255,255,255,0.74);
  -moz-box-shadow: 3px 3px 2px 0px rgba(255,255,255,0.74);
}

#headerLeft > img{
    width: 4vh;
    background-color: #30FFC9;
    border-radius: 10px;
    padding: 0.25vh;
    margin: 0.75vh 1vw;
}




/* MD Overlay */

#opencloseOverlay{
  border: none;
  background: none;
  position: absolute;
  right: 3vw;
  top: 1vw;
  width: 5vw;
  height: 5vh;
  rotate: 0deg;
  z-index: 91;
  animation: none;
}

#opencloseOverlay > img{
  height: 4vh;
  width: auto;
}

.overlayElementsDivMD{
  position: relative;
  width: 90%;
  text-align: center; 
  margin: 0 auto;
}

#overlayMD{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  background-color: rgb(15, 20, 37);
  background-color: rgba(15, 20, 37, 0.85);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlayButton{
  padding: 2% 0;
  background-color: #1CB3C4;
  margin: 4.5vh 3vw;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlayButton, .overlayButtonSM{
  box-shadow: 7px 6px 21px 0px rgba(28,179,196,0.75);
  -webkit-box-shadow: 7px 6px 21px 0px rgba(28,179,196,0.75);
  -moz-box-shadow: 7px 6px 21px 0px rgba(28,179,196,0.75);
}

.overlayButton:hover, .overlayButtonSM:hover{
  box-shadow: none;
}

#overlayMDPaused{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  cursor: pointer;
}

#overlayPauseLines{
  width: 10%;
  margin: auto auto;
}

#overlayMDText{
  font-size: 120px;
  color: white;
  margin: auto auto
}



/* SM overlay */
#overlaySM{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 93;
  left: 0;
  top: 0;
  background-color: rgb(15, 20, 37);
  background-color: rgba(15, 20, 37, 0.85);
  overflow-y: hidden;
  transition: 0.5s;
}

#overlaySMPaused{
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 7%;
  cursor: pointer;
}

.overlayButtonSM{
  padding: 5% 0;
  background-color: #1CB3C4;
  margin: 5vh 2vw;
  text-decoration: none;
  font-size: 52px;
  color: black;
  display: block;
  transition: 0.3s;
}

#overlayPauseLinesSM{
  width: 25%;
  margin: 0 auto;
}

#opencloseOverlaySM{
  border: none;
  background: #1CB3C4;
  position: absolute;
  right: 3vw;
  top: 1vh;
  width: 70%;
  height: 4vh;
  rotate: 0deg;
  z-index: 94;
  animation: none;
  cursor: pointer;
}

#opencloseOverlaySM > img{
  height: inherit;
  width: inherit;
}

/*  Overlay Animations  */
@keyframes quarterSpinForw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes quarterSpinBack {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform:  rotate(0deg);
  }
}

@keyframes resetAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes halfSpinForw {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes halfSpinBack {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}



/* MD nézet (<= 768)*/

@media only screen and (min-width: 769px){
  #opencloseOverlay{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navGombok, .navTarto{
    display: none;
  }
  .navMD{
    display: block;
  }
  #felgorgGomb{
    width: 3.6rem;
    height: 3.5rem;
  }
}

/* SM nézet (<= 576px) */

@media only screen and (min-width: 577px) {
  #opencloseOverlaySM{
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #opencloseOverlay{
    display: none;
  }
}