/* Univerzális CSS, ez minden oldalon megjelenik és ismétlődő elemekért felel */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
/*Betütípus*/

html{
    font-family: 'pixeloid';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: #1CB3C4 #1A0935;
    scrollbar-width: thin;
}
#search-bar-input{
  font-size: 20pt;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

/* Legörgető gomb */

#felgorgGomb {
  width: 45px;
  height: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 2vh;
  right: 1.2vw;
  border: none;
}
  
#arrow path {
  fill: white;
}
  
#felgorgTxt {
  font-size: 1em;
  width: 75px;
  position: absolute;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -31px;
  opacity: 0;
  transition-duration: .7s;
}
  
#felgorgGomb:hover #felgorgTxt {
  opacity: 1;
  transition-duration: .7s;
}


#felgorgGomb:hover #arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  

#circle:hover{
    cursor:pointer;
}

/* Header */

header{
    background-color: #1A0935;
    padding: 0;
    margin: 0;
    height: 6vh;
    width: auto;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 125%;
    text-decoration: none;
    color: black;
}

.navTarto{
    float: right;
    margin: 1vh 1vw;
    padding: 17px 25px;
    width: 8vw;
    height: 0.1vh;
    background-color: #1CB3C4;
}

#headerLeft > img{
    width: 4vh;
    background-color: #30FFC9;
    border-radius: 10px;
    padding: 0.25vh;
    margin: 0.75vh 1vw;
}

/* Overlay */

.opencloseOverlay{
  position: absolute;
  right: 2vw;
  top: 1vh;
  width: 35px;
  height: 35px;
}

.opencloseOverlay > p{
  position: relative;
  bottom: 18.5px;
  color: white;
  line-height: 8px;
  font-size: 15px;
}

#closeBTN{
  rotate: 90deg;
}

.overlayElementsMD{
  position: relative;
  top: 25%;
  width: 100%; 
  text-align: center; 
  margin-top: 30px;
}

#overlayMD{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlayButton{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* MD nézet */

@media only screen and (max-width: 768px) {
  .navGombok, .navTarto{
    display: none;
  }
  .navMD{
    display: block;
  }
}