/* Univerzális CSS, ez minden oldalon megjelenik és ismétlődő elemekért felel */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
/*Betütípus*/

html{
    font-family: 'pixeloid';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

/* Legörgető gomb */


.circle{
    border: none;
    float: right;
    margin: 2.5%;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    bottom: 1px;
    right: 1px;
}

.circle > p{
    position: relative;
    bottom: 33px;
    text-align: center;
    font-size: 50px;
    line-height: 0px;
}

.circle:hover{
    cursor:pointer;
}

/* Header dolgok */

header{
    background-color: #1A0935;
    padding: 0;
    margin: 0;
    height: 6vh;
    width: auto;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 130%;
    text-decoration: none;
    color: black;
}

.navTarto{
    float: right;
    margin: 1vh 1vw;
    padding: 17px 25px;
    width: 8vw;
    height: 0.1vh;
    background-color: #1CB3C4;
}

#headerLeft > img{
    width: 4vh;
    background-color: #30FFC9;
    border-radius: 10px;
    padding: 0.25vh;
    margin: 0.75vh 1vw;
}